*,
*::before,
*::after {
        box-sizing: border-box;
}

/* Решта коду */
section {
        padding: 120px 0;
}


body {
        color: #434455;
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
}

a {
        text-decoration: none;
}

ul, ol {
        list-style: none;
        margin: 0;
        padding: 0;
}

h1,h2,h3,h4,h5,h6, p {
        margin: 0;
}

img {
        display: block;
        max-width: 100%;
}

.container {
        max-width: 1158px;
        margin: 0 auto;
        padding: 0 15px;
}

input {
        font-family: inherit;
        outline: none;
}
/* HEADER */
.header {
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-logo {
        padding: 24px 0;
        margin-right: 76px;
}

.header-container {
        display: flex;
        align-items: center;
}

.navigation {
        display: flex;
        align-items: center; 
}

.page-nav {
        display: flex;
        align-items: center;
        gap: 40px;
}

.page-contact {
        display: flex;
        align-items: center;
}

.page-contact {
        display: flex;
        align-items: center;
        gap: 40px;
}

.logotype {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.logo {
    font-family: "Raleway", sans-serif;
        color: #2e2f42;
}

.nav-buton {
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-buton.current {
        position: relative;
        color: #404bbf;
}

.nav-buton.current::after {
        position: absolute;
        content: '';
        border-radius: 2px;
        width: 100%;
        height: 4px;
        left: 0;
        bottom: -1px;
        background-color: #404bbf;
}

.nav-buton:hover,
.nav-buton:focus {
    color: #404bbf;
}

.adres {
        font-style: normal;
        margin-left: auto;
}

.adres-nav {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adres-nav:focus,
.adres-nav:hover {
    color: #404BBF;
}

/* SECTION 1 MAIN */
.page-hero {
        max-width: 1158px;
        padding: 0 15px;
        margin: 0 auto;
}

.section-one {
        background-color: #2e2f42;
        text-align: center;
        max-width: 1440px;
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
         rgba(46, 47, 66, 0.7)), 
         url(../images/people-office.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 auto;

}

.text-main {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #ffffff;

        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 496px;
        margin: 0 auto;
        margin-bottom: 48px;
}


.button-main {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
            color: #ffffff;
            background-color: #4D5AE5;
        cursor: pointer;

        display: block;
        margin: 0 auto;
        border-radius: 4px;
        border: none;
        padding: 16px 32px;
        min-width: 169px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-main:focus,
.button-main:hover {
    background-color: #404bbf;
    cursor: pointer;
}

/* SECTION 2 ABOUT */


.page-about {
        max-width: 1158px;
        padding: 0 15px;
        margin: 0 auto;
}

.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;

        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
} 

.about-ul {
        display: flex;
        gap: 24px;
        flex-direction: row;
}

.about-li {
        width: calc((1128px - 72px) / 4);
        flex-shrink: 0;
}
        
.name-about {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;

        margin-bottom: 8px;
}

.text-about {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;

        display: block;
        margin: 0 auto;
}

.icon-sect-two {
        border: 1px solid rgba(142, 143, 153, 1);
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background-color: #f4f4fd;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 8px;
}
/* SECTION 3 OUR TEAM */
.page-team {
        max-width: 1158px;
        padding: 0 15px;
        margin: 0 auto;
}

.section-three {
        background-color: #F4F4FD;
}

.text-team {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2E2F42;

        margin: 0 auto;
        padding: 0;
        text-transform: capitalize;
        margin-bottom: 72px;
        justify-content: center;
}

.ul-box-user {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 24px;
}

.box-user {
        background: #FFFFFF;

        border-radius: 0 0 4px 4px;
        width: calc((100% - 72px)/4);
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.text-card {
        padding: 0;
        padding-bottom: 32px;
        padding-top: 32px;
}

.name-user {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;

        margin: 0;
        padding: 0;
        margin-bottom: 8px;
}

.about-user {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;

        margin: 0;
        padding: 0;
        padding-bottom: 8px;
}

.ul-team-icon {
        width: 232px;
        height: 40px;
        margin: 0 auto;

        display: flex;
        gap: 24px;
        justify-content: center;
        align-items: center;
}

.li-team-icon {
        width: 40px;
        height: 40px;
}

.team-icon {
        fill: #f4f4fd;
}

.link-icon-team:hover,
.link-icon-team:focus {
        background-color: #404bbf;
}

.link-icon-team {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #4d5ae5;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* SECTION 4 OUR PORTFOLIO */
.section-four {
        width: 1128px;
        margin: 0 auto;
}

.page-employee {
        max-width: 1158px;
        padding: 0 15px;
}

.text-portfolio {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2E2F42;

        text-transform: capitalize;
        margin-bottom: 72px;
        text-align: center;
}

.ul-portfolio {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 24px;
        row-gap: 48px;
        margin: 0;
        padding: 0
}

.box-portfolio {
        background: #FFFFFF;

        flex-basis: calc((100% - 48px) / 3);
        flex-shrink: 0;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div-box {
        border-top: none;
        border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        padding: 32px 16px;
}

.box-portfolio:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
}

.box-portfolio:hover .text-overlay {
        transform: translateY(0%);
}

.box-name {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;

        margin-bottom: 8px;
        align-items: center;
}

.box-what-about {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;

}

.img-port {
        max-height: 300px;
        object-fit: cover;
        padding: 0;
        margin: 0;
} 

.transition {
        position: relative;
        overflow: hidden;
}

.text-overlay {
        position: absolute;
        top: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:#f4f4fd;
        padding: 40px 32px;
        background-color: #4d5ae5;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* FOOTER */
.footer {
       background-color: #2e2f42; 

        min-width: 1440px;
        padding: 100px 0;
}

.page-footer {
        display: flex;
        flex-direction: row;
        max-width: 1158px;
        padding: 0 15px;
        margin: 0 auto;
        align-items: baseline;
}

.footer-container {
        margin-right: 120px
}

.text-footer {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;

        margin: 0;
        padding: 0;
        max-width: 264px;
}

.logo-footer {
        font-family: "Raleway", sans-serif;
        color: #f4f4fd;

        max-width: 264px;
}

.logotype-footer {
        display: inline-block;
        margin-bottom: 16px;
}

.footer-socialmedia {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
}

.p-socialmedia {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #ffffff;
        padding: 0;
        margin-bottom: 16px;
}

.ul-footer {
        display: flex;
        flex-direction: row;
        gap: 16px;
}

.link-footer-icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #4d5ae5;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer-icon:hover,
.link-footer-icon:focus {
        background-color: #31D0AA;
}


.icon-footer {
        fill: #f4f4fd;
}

.footer-subscribe {
        margin-left: 80px;
}


.footer-form {
        display: flex;
        flex-direction: row;
        gap: 24px;
}

.telegram-p {
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #ffffff;
        margin-bottom: 16px;
}

.input-footer {
        border: 1px solid #ffffff;
        border-radius: 4px;
        width: 264px;
        height: 40px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background-color: transparent;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        padding-left: 16px;
        color: #ffffff;
}


.footer-button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        padding: 8px 24px;
        min-width: 165px;
        height: 40px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #ffffff;
        background-color: #4d5ae5;
        border: none;
        cursor: pointer;
        border: none;
}

.telegram-icon {
        fill: #ffffff;
        margin-left: 16px;
}
/* MODAL */
.modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(46, 47, 66, 0.4);
        opacity: 1;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
        border-radius: 4px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
        background-color: #fcfcfc;
        max-width: 480px;
        min-height: 584px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        overflow-y: auto;
        padding: 72px 24px 24px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-closed {
        display: flex;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        position: absolute;
        top: 24px;
        right: 24px;
        background-color: #e7e9fc;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 1px solid rgba(0, 0, 0, 0.1);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 0;
}

.modal-closed:hover,
.modal-closed:focus {
        background-color: #404bbf;
        border: none;
}

.icon-close {
        fill: #2e2f42;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 .modal-closed:hover > .icon-close,
 .modal-closed:focus > .icon-close{
        fill: #ffffff;
}

.modal-p {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 16px;
        color: #2e2f42;
}


.modal-form {
        display: flex;
        flex-direction: column;
}

.modal-box {
        margin-bottom: 8px;
}

.modal-label {
        display: block;
        margin-bottom: 4px;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.48px;
        color: #8e8f99;
}

.modal-input {
        display: flex;
        position: relative;
}


.input {
        display: block;
        width: 360px;
        height: 40px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 38px;
        color: #2e2f42;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        outline: transparent;
        background-color: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
        border-color: #4d5ae5;
}

.input:focus + .modal-icon {
        fill: #4d5ae5;
 }


.modal-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 16px;
        fill: #2e2f42;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment {
        margin-bottom: 16px;
}

.text-comment {
        padding: 8px 16px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 100%;
        height: 120px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        background-color: transparent;
        outline: transparent;
        resize: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-comment:focus {
        border-color: #4D5AE5;
}

.modal-check {
        margin-bottom: 24px;
}

.checkbox:checked + .check-label > .check-box {
        background-color: #404BBF;
        border: none;
        fill: #f4f4fd;
}

.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.check-label {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
}

.check-box {
        width: 16px;
        height: 16px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 2px;
        background-color: transparent;
        fill: transparent;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-sel {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.48px;
        text-decoration-line: underline;
        color: #4d5ae5;
}

.modal-button {
        display: block;
        background-color: #4D5AE5;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        min-width: 169px;
        height: 56px;
        padding: 16px 32px;
        border-radius: 4px;
        border: none;
        margin: 0 auto;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
        background-color: #404bbf;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}